{% set resPath = "https://asset.inflyou.com/temp" %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="format-detection" content="telephone=no" />
    <title>{{ page['title'] }}</title>
    <meta name="keywords" content="{{ site['seo_key'] }}">
    <meta name="description" content="{{ site['seo_desc'] }}">
    {% if site['favicon'] %}
        <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}"/>
    {% endif %}

    {{ site['custom_header'] }}

    {% for style in site['styles'] %}
        <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">
    {% endfor %}
    <script>
    window.modules = {};
    </script>

    <link rel="stylesheet" href="{{ resPath }}/styles/reset.css" />
    <link rel="stylesheet" href="{{ resPath }}/styles/global.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
  </head>
  <body>
    <div id="modalContainer" class="modal-container main">
      <div class="modal-content main">
        <div class="modal-info">
          <p id="modal-text" class="modal-text"></p>
          <img src="{{ resPath }}/svgs/modal-close.svg" alt="close" />
        </div>
        <div class="charge-radio-btns">
          <input
            type="radio"
            id="device1"
            name="device"
            class="charge-radio"
            checked
          />
          <label for="device1">
            <div class="charge-radio-bg">
              <p>모바일</p>
            </div>
          </label>
          <input type="radio" id="device2" name="device" class="charge-radio" />
          <label for="device2">
            <div class="charge-radio-bg">
              <p>PC</p>
            </div>
          </label>
        </div>
        <div id="modal-desc"></div>
      </div>
    </div>
    <header>
      <div class="header-container">
        <div class="logo">iN</div>
        <div class="header-btns">
          <button class="text-btn qna">자주 묻는 질문</button>
          <button class="text-btn">로그인</button>
          <button class="normal-btn">회원가입</button>
        </div>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="footer-container">
        <p class="footer-text">
          상호 : 첫눈처럼 | 대표자명 : 김시훈 | 사업자등록번호 : 100-00-00000<br />
          <b>통신판매업신고번호 : 2024-서울-000</b><br />
          연락처 : 000-000-000 | 이메일 : 00@00.com<br />
          주소 : 000
        </p>
        <div class="footer-btns">
          <button class="footer-btn">서비스이용약관</button> |
          <button class="footer-btn"><b>개인정보처리방침</b></button>
        </div>
      </div>
    </footer>
    {% for script in site['scripts'] %}
        <script type="text/javascript" {% if script['src'] %} src="{{ script['src'] }}" {% endif %}>
        {% if script['code'] %}
            {{ script['code'] }}
        {% endif %}
        </script>
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{{ resPath }}/scripts/script.js"></script>
    <script src="{{ resPath }}/scripts/main.js"></script>
  </body>
</html>
